#nav-bar{
    background-color: white;
    height: 100px;
    padding: 0 0 0 100px;
}

ul{
    position: relative;
    float: right;
}

li{
    float: right;
}

#name{
    line-height:1.5;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

#nameparent{
    line-height: 100px;
    height: 100px;
    width: 300px;
    text-align: center; 
    background-color: #176460;
    float: left;
}

body{
    background-image: url(../images/trees.png);
    font-family:  Arial, Helvetica, sans-serif;
}

#container{
    background-color: white;
    margin: 10px 0 0 100px;
    padding: 20px;
    width: 960px;
}

#headshotpic{
    height: 200px;
    float: left;
    padding: 0 10px 0 0;
}

.about-me-text{
    font-size: 130%;
    line-height: 1.5;
}

#copyright{
    background-color: gray;
    height: 100px;
    margin:100px 0 0 0 ;
    padding: 0 0 0 100px;
    border:10px solid #176460;
}